//variable
$screen: 250px

//mixin
=cont()
	min-width: 60px
	min-height: 60px
	max-width: 60px
	max-height: 60px
	border: 1px #99ffcc solid



#wrapper
	border: solid 1px #99ffff
	margin: 10% 20% 0 20%
	@media screen and (max-width:480px)
		margin: 15% 0 0 0

.container
	max-width: $screen
	border: solid yellow 2px

.container
	.row
		.btn
			+cont

.screen-input
	overflow: hidden
	text-overflow: ellipsis
	border: solid blue 1px
	padding: 10px
	font-size: 25px
	width: 100%
	max-width: $screen
	height: 50px
	padding: 10px

.screen-output
	overflow: hidden
	text-overflow:ellipsis
	text-align: right
	font-size: 25px
	max-width: $screen
	height: 50px
	//direction: rtl
	padding: 10px
	border: solid 1px red
